#buttons {
    layout: grid;
    grid-size: 5;
    grid-columns: 1fr;
    grid-rows: auto;
    align: left top;
}

.sound-button {
    border: round $accent;
    width: 100%;
}

#help {
    align: center middle;
}

.entry {
    width: 90%;
    margin: 1 0;
}

.title {
    # text-style: reverse;
    color: white;
    background: $accent;
    width: auto;
}

.text {
    width: 80%;
}